@import '@fontsource/inter'; /* Body */
@import '@fontsource/orbitron'; /* Header */

@import 'tailwindcss';

@theme {
  /* Define your custom hex color here */
  --color-space-black: #050505;
  /* Override default sans with Inter */
  --font-sans: 'Inter', ui-sans-serif, system-ui;

  /* Create custom futuristic header utility */
  --font-display: 'Orbitron', sans-serif;
}

@layer base {
  body {
    /* Now you can use it with @apply just like a default color */
    @apply bg-space-black text-white min-h-screen;
  }
}
