@import 'tailwindcss';

@import 'tailwindcss';

@theme {
  /* Define your custom hex color here */
  --color-space-black: #050505;
}

@layer base {
  body {
    /* Now you can use it with @apply just like a default color */
    @apply bg-space-black text-white min-h-screen;
  }
}
